<footer class="info-contact flex justify-center items-center bg-gray-600">
    <div class="grid grid-cols-3 gap-16 p-12">
        <div class="flex-col flex justify-center items-center">
            <div class="flex gap-8">
                <div class="flex flex-col mt-2">
                    <span class="text-white">Price Item One</span>
                    <span class="text-white">Price Item Two</span>
                    <span class="text-white">Price Item Three</span>
                </div>

                <div class="flex flex-col mt-2">
                    <span class="text-white">Price Item One</span>
                    <span class="text-white">Price Item Two</span>
                    <span class="text-white">Price Item Three</span>
                </div>
            </div>
            <span class="pt-5 text-white text-sm">Just type what's on your mind </span>
        </div>

        <img src="/media/img_contact/map.png" class="rounded-xl" style="width: 280px; height: 200px;">

        <div class="flex-col pt-12 pl-5">
            <div class="flex">
                <img src="/media/img_contact/location.svg" class="" style="width: 30px; height: 30px;">
                <span class="text-white pl-2">7480 Mockingbird Hill undefined </span>
            </div>

            <div class="flex pt-3">
                <img src="/media/img_contact/mobile.svg" class="" style="width: 28px; height: 28px;">
                <span  class="text-white pl-2">(239) 555-0108</span>
            </div>

            <div class="flex pt-5 gap-4">
                <img src="/media/img_contact/tw.svg" class="" style="width: 28px; height: 28px;">
                <img src="/media/img_contact/fb.svg" class="" style="width: 28px; height: 28px;"">
                <img src="/media/img_contact/in.svg" class="" style="width: 28px; height: 28px;">
            </div>
        </div>
    </div>
</footer>